<h1><%= @book.title %></h1>
<h3><%= @book.authors %></h3><!-- populates off of join table -->



<div class="container">
  <h2>Update this book</h2>
  <form action="/books" method="post">
    <div class="form-group">
      <label for="title">Update book title</label>
      <input type="text" name="update_title">
    </div>
    <div class="form-group">
      <label for="author">Update book author</label>
      <input type="text" name="update_author"><!-- update join table -->
    </div>
    <button type="submit">Update book!</button>
  </form>
</div>
<br>
<div class="container">
  <h2>Delete this book</h2>
  <form action="/books" method="post">
    <button type="submit">Delete this book!</button>
  </form>
</div>
